<!-- header -->
<mat-toolbar>
    <div>
      <span>Feedback Service (IPF)</span>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="support">
        <span>support</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #support="matMenu">
        <button mat-menu-item>Slack</button>
        <button mat-menu-item>Slack</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="user">
        Bob Green
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #user="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
</mat-toolbar>

<!-- Main -->
<mat-grid-list cols="5" rowHeight="100%">
  <mat-grid-tile [colspan]="1" class="sideSection">
    <!-- 侧边栏 -->
      <mat-sidenav-container>
        <mat-sidenav-content>
          <div class="side-menu" cdkMenu>
            <button class="side-menu-item" cdkMenuItem routerLink="/feedback" routerLinkActive="active">Feedback</button>
            <button class="side-menu-item" cdkMenuItem routerLink="/forms" routerLinkActive="active">Form</button>
            <button class="side-menu-item" cdkMenuItem routerLink="/trigger-rules" routerLinkActive="active">Trigger Rule</button>
            <button class="side-menu-item" cdkMenuItem routerLink="/notification-rules" routerLinkActive="active">Notification Rule</button>
            <button class="side-menu-item" cdkMenuItem routerLink="/audit-events" routerLinkActive="active">Audit Event</button>
            <button class="side-menu-item" cdkMenuItem routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </mat-grid-tile>

  <!-- main content -->
  <mat-grid-tile class="main-content" [colspan]="4" (resize)="resize()">
    <router-outlet />
  </mat-grid-tile>
</mat-grid-list>


